.col-md-12
    .col-md-3
        accordion
            accordion-group(
                ng-repeat='cs in codesets'
                heading='{{cs.id}}'
                ng-click='selectCodeset(cs)'
            )
                p {{cs.name}}
                p {{cs.description}}
    .col-md-3
        accordion
            accordion-group(
                ng-repeat='c in selectedCodeset.codes'
                heading='{{c.id}}'
                ng-click='selectCode(c)'
            )
                p {{c.name}}
                p {{cs.description}}
    .col-md-6
        accordion
            accordion-group(
                ng-repeat='v in selectedCode.values'
                heading='{{v.value}}'
            )
                i TODO effectivity details etc