.col-md-12
    .col-md-3
        accordion
            accordion-group(
                ng-repeat='cs in codesets'
                heading='{{cs.id}}'
                ng-click='selectCodeset(cs)'
            )
                p
                    a(
                        href='#'
                        editable-text='cs.name'
                        buttons='no'
                    ) {{cs.name}}
                p
                    a(
                        href='#'
                        editable-text='cs.description'
                        buttons='no'
                    ) {{cs.description}}
    .col-md-3
        accordion
            accordion-group(
                ng-repeat='c in selectedCodeset.codes'
                heading='{{c.id}}'
                ng-click='selectCode(c)'
            )
                p
                    a(
                        href='#'
                        editable-text='c.name'
                        buttons='no'
                    ) {{c.name}}
                p
                    a(
                        href='#'
                        editable-text='c.description'
                        buttons='no'
                    ) {{cs.description}}
    .col-md-6
        accordion
            accordion-group(
                ng-repeat='v in selectedCode.values'
                heading='{{v.value}}'
            )
                i TODO effectivity details etc