.col-md-12
    .col-md-3
        accordion
            .input-group
                .input-group-btn
                    button.btn.btn-default(
                        title='Add new code set'
                        ng-click='addCodeset()'
                    ) +
                    input.form-control(
                        type='text'
                        placeholder='New code set ID'
                        ng-model='newCodeset.id'
                    )
            accordion-group(
                ng-repeat='cs in codesets'
                heading='{{cs.id}}'
                ng-click='selectCodeset(cs)'
            )
                p
                    a(
                        href='#'
                        editable-text='cs.name'
                        buttons='no'
                    ) {{cs.name}}
                p
                    a(
                        href='#'
                        editable-text='cs.description'
                        buttons='no'
                    ) {{cs.description}}
    .col-md-3
        accordion
            .input-group(ng-show='selectedCodeset')
                .input-group-btn
                    button.btn.btn-default(
                            title='Add new code'
                            ng-click='addCode()'
                        ) +
                    input.form-control(
                        type='text'
                        placeholder='New code ID'
                        ng-model='newCode.id'
                    )
            accordion-group(
                ng-repeat='c in selectedCodeset.codes'
                heading='{{c.id}}'
                ng-click='selectCode(c)'
            )
                p
                    a(
                        href='#'
                        editable-text='c.name'
                        buttons='no'
                    ) {{c.name}}
                p
                    a(
                        href='#'
                        editable-text='c.description'
                        buttons='no'
                    ) {{cs.description}}
    .col-md-6
        accordion
            accordion-group(
                ng-repeat='v in selectedCode.values'
                heading='{{v.value}}'
            )
                i TODO effectivity details etc